body {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.container {
  margin: 20px;
}

.venntooltip {
  font-size: 14px;
  position: absolute;
  text-align: center;
  width: 128px;
  height: 85px;
  background: #333;
  color: #fff;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}

.h1,
.h3,
.p1 {
  text-align: center;
}

.diagrams {
  width: 100%;
  margin-top: 60px;
}

#venn_one,
#venn_two {
  display: inline-block;
  width: 49%;
  text-align: center;
}
